<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Employee Records</title>  
     {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Menu ID</th>  
        <th>Menu Name</th>  
        <th>Menu Email</th>  
        <th>Menu Contact</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for menu in Menus %}  
    <tr>  
        <td>{{ menu.Id }}</td>  
        <td>{{ menu.Name }}</td>  
        <td>{{ menu.Description }}</td>  
        <td>{{ menu.Votes }}</td>  
        <td>  
            <a href="/edit/{{ Menu.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ Menu.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/emp" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  